<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletMarcarVoo</servlet-name>
        <servlet-class>com.controle.ServletMarcarVoo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerificarStatus</servlet-name>
        <servlet-class>com.controle.ServletVerificarStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMarcarVoo</servlet-name>
        <url-pattern>/servlet/ServletMarcarVoo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerificarStatus</servlet-name>
        <url-pattern>/servlet/ServletVerificarStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
